.footer {
  background: #2d3748;
  color: white;
  padding: 3rem 0.5rem 0.5rem;
  font-family: sans-serif;
}

.footer-content {
  color: #667eea;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 1rem;
  margin-bottom: 2rem;
  margin-left: 180px;
  margin-right: 180px;
}

/* Logo */
.footer-brand {
  display: flex;
  flex-direction: column;   /* Stack logo on top of text */
  align-items: center;      /* Center horizontally */
  gap: 10px;                /* Space between logo and text */
}

.footer-logo {
  width: 150px;
  height: 150px;
}

.footer-text {
  font-size: 50px !important;
  font-weight: bold;
  color: #fff;
  text-align: center;
}



/* Sections inside footer */
.footer-section h4 {
  color: #667eea;
  margin-bottom: 0.5rem;
  margin-top: 10px;
  font-size: 20px;
}

.footer-section ul {
  list-style: none;
  padding: 0;
  margin: 0;
  margin-bottom: 0.5rem;
  color: #ffffff;
}

.footer-section a {
  list-style: none;
  padding: 0;
  margin: 0;
  margin-bottom: 0.5rem;
  color: #ffffff;
}


/* Social links */
.social-links {
  margin-right: 10px;
}

.social-icon {
  width: 15px;   /* Adjust size as needed */
  height: 15px;
  margin-right: 8px;
}

/* Footer bottom */
.footer-bottom {
  border-top: 0px solid #4a5568;
  padding-top: -0.005rem;
  text-align: center;
  color: #a0aec0;
}

.footer-right {
  position: relative;
  padding-left: 20px;       /* space for vertical line */
}

/* Vertical line */
.footer-right::before {
  content: "";
  position: absolute;
  left: 0px;                  /* position from left */
  top: 0;                   /* position from top */
  width: 2px;               /* thickness of vertical line */
  height: 240px;            /* height of vertical line */
  background-color: #ffffff; /* color of vertical line */
}

/* Horizontal line centered under vertical line */
.footer-right::after {
  content: "";
  position: absolute;
  left: 270px;                /* center horizontally */
  bottom: -20px;                /* at the bottom */
  transform: translateX(-100%); /* truly center */
  width: 1300px;              /* length of bottom line */
  border-bottom: 2px solid #ffffff; /* horizontal line */
}
